
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,600&family=PT+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400');

/* VARIABLES COLORES  */
:root{
    --colorPrincipal:#c07133;
    --colorSecundario: #b0b0b0;
    --colorNegro: #000;
    --colorVerde: #17FF00;
    --colorRojo: #FF0C0C;
    --colorAzul: #0040FF;
}


*{  
    padding:0;
    margin:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'IBM Plex Serif', serif;
}

body {background-color: #000;color: #fff; text-decoration: none;list-style: none;}

.bodyFomularios{background-image: url(../images/fondo.jpg);background-size: cover;background-position: center;}


/* =========================================================================== */
/* ========================  BOTON VER MAS TATUADORES   =======================*/

.Contenerdor-Ver-mas{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BotonDeVerMas li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 5px solid var(--colorPrincipal);
    border-radius: 8px;
    width: 230px;
    height: 55px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    --circulos: var(--colorPrincipal); /* Color De los Circulos */
}

.BotonDeVerMas li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--circulos);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    z-index: -1;
    transition: 1.5s;
}
.BotonDeVerMas li:hover {
    color: rgb(255, 247, 247);
}
.BotonDeVerMas li:hover span {
    transform: scale(8);
    
}

/* =========================================================================== */
/* ==============================  BOTON CITAS   ==============================*/

.BotonPerfilTattuadores li{
    font-size: 20px;
    width: 150px;
    display: flex;
    align-items: center;
}
/* ====================================================================================================== */
/* =======================================    BARRA DE NAVEGACION  =====================================*/
nav {
    background-color: var(--colorNegro);
    height: 70px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mainMenu {
    display: flex;
}

.mainMenu li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 5px;
    padding: 33px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
}
.mainMenu li a:hover {
    color:  var(--colorPrincipal);
}
.openMenu {
font-size: 2rem;
margin: 20px;
display: none;
cursor: pointer;
}
.mainMenu .closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.TextNav h1{
    padding: 20px;
    margin: 6px;
    cursor: pointer;
}

.TextNav img {
    width: 70px;
    margin: 23px;
}

@media (max-width: 800px) {
.mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--colorNegro);
    transition: top 1s ease 0s;
    display: none;
}
.mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}
.openMenu {
    display: block;
}

.mainMenu li a {
    margin: 10px;
    padding: 15px;
    font-size: 30px;
}
.mainMenu li a:hover {
    color:  var(--colorPrincipal);
}

}


/* ====================================================================================================== */
/* =======================================    F  O  T  T  E  R    =====================================*/

.IamFotterFormu{
    box-shadow: 1px 1px 4px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    bottom: -150px;
    width: 100%;
    margin-top: 1200px;
    height: 40px;
    color: white;
}

.IamFotterFormu h1{
    margin : 25px;
    font-size: 16px;
    color: darkgrey;
    text-align: center;
}

/*-------------------------------------*/


.IamFotter{
    box-shadow: 1px 1px 4px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 40px;
    color: white;
}

.IamFotter h1{
    font-size: 16px;
    color: darkgrey;
}


/* ====================================================================================================== */
/* =======================================   VISTA PRINCIPAL   =====================================*/


header{
    width:100%;
    height:100vh;
    background-image: url(/images/carrusel1.jpg);
    background-repeat: none repeat;
    background-position:center;
    background-size: cover;
}

.banner-text{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.banner-text h1 {
    color: #fff;
    font-size: 50px;
}

.banner-text h2 {
    font-size: 16px;
    font-weight:600;
}

.banner-text span {
    color: var(--colorPrincipal);
}

.NoTenercuenta{
    width: 100%;
    height: 50px;

}


.BotonesMelozz{
    margin-top: 1%;
    margin-left: 2%;
}


.btn-1{
    margin-right: 40px;
    padding: 10px 30px;
    background-color: var(--colorPrincipal);
    color: #fff;
    border-radius:5px;
    cursor: pointer;
    font-weight:600;
    transition: 1.1s  ;
}

.btn-1:hover{
    background-color: #fff;
    color: var(--colorPrincipal);
    transition: 0.5s;
    box-shadow:0px 0 30px lightblue;
    padding: 12px 32px;
}

.btn-2{
    margin-right: 40px;
    padding: 10px 30px;
    background-color: var(--colorPrincipal);
    color: #fff;
    border-radius:5px;
    cursor: pointer;
    font-weight:600;
    transition: 1.1s  ;
}

.btn-2:hover{
    background-color: #fff;
    color: var(--colorPrincipal);
    transition: 0.5s;
    box-shadow:0px 0 30px lightblue;
    padding: 12px 32px;

}

.ContenedorTatuadores{
    display: flex;
}

.ContenedorTatuadores img {
    height:80%;
    width:50%;
}




/*====================      A  R  T  I  S  T  A  S      =====================*/

.FondoArtistas{
    background-color: rgba(169, 169, 169, 0.137);
    height: 100%;
    padding: 50px;
}

.TitileArtistass {
    height: 120px;
    display: flex;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.ParrafArtistass {
    width: 100%;
    height: 50%;
    color: rgba(255, 255, 255, 0.63);
    font-size: 18px;
    height: 288px;
    display: flex;
    padding: 24px 10%;
    align-items: center;
    text-align: justify;
}

.ArtistasIndex{
    display: grid;
    grid-template-columns: 1fr  1fr;
    justify-items: center;
    transition: 1.1s;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;

}

.ArtistasIndex img{
    width: 450px;
    height: 478px;
    margin-top: 12px;
    border: 2px solid var(--colorSecundario);
    box-shadow: 1px 10px 25px #000;
    filter: grayscale(100);
    transition: 2s;
}



/*====================      N U E S T R O S    S E R V C I O S     =====================*/

.FondoServicios{
    background-image: url(../images/fondoatras15.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}
.TitileServicios {
    width: 100%;
    height: 250px;
    display: flex;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.FondoServicios h1{
    color: white;
    text-align: center;
    font-size: 35px;
}


.P-ContenedorServicios{
    margin: 3% 7% 7% 3%;
    display: flex;
    align-items:center;
    justify-content: space-evenly;

}

/*--------   TATTOS -------------*/
.TattoServicios {
    color: #fff;
    margin-left: 10%;
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



.TattoServicios img{
    width: 80px;
    transition: 1.1s;
}


.TattoServicios img:hover{
    transform: scale(1.2);
    transition: all 0.7s;
    
}

.TattoServicios h1:hover{
    color: rgba(255, 255, 255, 0.63);
}


/*--------   P I E R C I N G S -------------*/


.pircingsServicios{
    margin-right: 10%;
    display: flex;
    width: 150px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pircingsServicios h1:hover{
    color: rgba(255, 255, 255, 0.63);
}


.pircingsServicios img{
    width: 80px;
    transition: 1.1s;
}


.pircingsServicios img:hover{
    transform: scale(1.2);
    transition: all 0.7s;
    
}

/*-------------------  U B I C A C I O N   ------------------*/
/*             H O R A R I O S          */


.TitleUbicacionyHorarios{
    font-size: 35px;
    display: flex;
    width: 100%;
    height: 220px;
    align-items: center;
    justify-content: center;
    color: var(--colorPrincipal);
    
}



.P-Ubicacion{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 1px;
}

.h-Ubicacion h4{
    margin-bottom: 15%;
}


.MapaExotic iframe{
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

/* ====================================================================================================== */
/* ==================================    U S E R   O  R    T A T T O   ===================================*/



.backCircles{
    width: 100%;
    height: 830px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.CirclesU-or-T{
    background-color: rgba(169, 169, 169, 0.137);
    border-radius: 50%;
    width: 35%;
    height: 550px;
}










/* ================================================================================ */
/* ======================     F O R M U L A R I O    L O G I N   ===================*/

.containerlogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
}

.login h1{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.login{
    background-color: var(--colorNegro);
    width: 380px;
    height: 450px;
    padding: 22px;
    font-size: 15px;
    color: white;
    box-sizing: border-box;

}

.bodylogin{
    margin : 0;
    padding : 0;
    background : url(../images/fondo.jpg);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}


/*==========================*/

.login input{
    margin-top: 20px;
    display: block;
    margin: bottom 20px;
    width: 100%;
    font-size: 15px;
}

.grupLogin{
    position: relative;
    margin-top: 36px;
}

.login label{
    position: absolute;
    top: 10px;
    left: 5px;
    transition: .3s ;
    pointer-events: none;
    color: #424949;
}

.login input:focus~label,input:valid~label{
    top: -10px;
    color: #fff;
}

.login input[type="text"],
.login input[type="password"]{  /* Aca lo que hice fue solo modificar los inputs de text y password */
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
}

.login button {  
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: none;
    margin-top: 4%;
    cursor: pointer;
    color: #fff;
    background-color: var(--colorPrincipal);
    margin: 30px 0 20px;
}



.ContenedoresDePregunta{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
}

.ContenedoresDePregunta a{
    color: darkgrey; 
    font-size: 15px;
    padding: 10px;
    text-align:center;
}

.ContenedoresDePregunta a:hover{
    color: var(--colorPrincipal);
}



/* ================================================================================*/
/* ===============     F O R M U L A R I O   R E G  I S T E R   ===================*/


.containerRegister{
    font-family: "Oswald", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88vh;
}
.register h1{text-align: center;font-size: 20px;}
.register{
    background-color: var(--colorNegro);
    width: 380px;
    height: 450px;
    padding: 22px;
    font-size: 15px;
    color: white;
    box-sizing: border-box;
}

.bodyregister{
    margin : 0;
    padding : 0;
    background : url(../images/fondo.jpg);
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

.register input{
    margin-top: 20px;
    display: block;
    margin: bottom 20px;
    width: 100%;
    font-size: 15px;
}

.grup{position: relative;margin-top: 36px;}

.register label{
    position: absolute;
    top: 10px;
    left: 5px;
    transition: .3s ;
    pointer-events: none;
    color: #424949;
}

.register input:focus~label,input:valid~label{
    top: -10px;
    color: #fff;
}


.register input[type="text"],
.register input[type="password"]{  /* Aca lo que hice fue solo modificar los inputs de text y password */
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
}

.register button {  
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: none;
    margin-top: 10%;
    margin-bottom: 10px;
    cursor: pointer;
    color: #fff;
    background-color: var(--colorPrincipal);
}




/* ================================================================================*/
/* ===========================     C   I   T   A   S  =============================*/


/* Contenedores Padre */

.Contenedor-Citas{
    display: flex;
    align-items: center;
}


/* Contenedores hijos */
.ConteCitas1{
    width: 50%;
}

.ConteCitas2{
    width: 50%;
}
/* ----------------- */



.fondocita{
    background-image: url(../images/fondoatras8.webp);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
}


.main{
    padding: 2%;
    width: 94%; 
    height: 80%;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    background: black;
}

input{
    color: #000;
    border: none;
    margin-bottom: 20px;
    background-color: darkgray;
    
}   

.imgcitas{
    padding: 20px;
    width: 80%;
    height: 70%;
    border-radius: 10px;
}   

.LineaChimba{
    background-color: #d17222;
    width: 95%;
}

.cotiza{
    color: white;
    text-align: center;
}


textarea{
    resize: vertical;
    width: 82%;
    height: 78px;
    resize: none;
}


.formulariocitas li{
    margin: 5px 50px 0 100px;
}



.boton_cita {
    margin: 12px 0px 18px 1px;
    width: 82%;
    height: 30px;
    border-style: none;
    background-color: #d17222;
    border-radius:25px;
    color: white;
}

/* ====================================================================================================== */
/* ==================================    T  A  T  U  A  D  O  R  E  S   =================================*/

.backgTatuadores{
    background-color: rgba(146, 145, 145, 0.1);
    height: 100%;
    padding: 35px;
}

.titleSectionTatuadores{
    color: var(#fff);
    width: 100%;
    height: 180px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainTatuadores{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 32px;
    padding: 15px;
}

.cardTatuadores{
    background-color: rgb(255, 251, 251);
    box-shadow: 0 1px 5px  rgba(17, 17, 17, 0.829);
    height: auto;
    border-radius: 25px;
    width: 480px;
    height: 100%;
}



.ImagenTatuadores{
    border-radius: 10px 10px 0 0;
    height: 45vh;
    width: 100%;
    filter:grayscale(100%);
}

.ImagenTatuadores img{
    border-radius: 25px 25px 0 0;
    height: 45vh;
    width: 100%;
    transition: 1.1s;
}

.InfoTatuadores {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    color: #000;
    align-items: center;
}

.ParrafoTatuadores{
    text-align: justify;
    color: #000;
    padding: 20px;
}



/* ====================================================================================================== */
/* ==================================   P E R F I L   T A T U A D O R   =================================*/

.AtrasInfoTatuador{
    background-color: rgba(169, 169, 169, 0.137);
    width: 100%;
    height: 730px;
}

.InfoTatuador h1{
    margin: 2%;
}

.InfoTatuador img{
    border-radius: 50%;
}

.InfoTatuador p{
    color: rgba(255, 255, 255, 0.63);
    width: 35%;
    text-align: justify;
}


.InfoTatuador{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.C-PortafolioTatuador{
    height: 1012px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.C-PortafolioTatuador h1{
    color: var(--colorPrincipal);
    font-size: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PortafolioTatuador{
    font-size: 350%;
    margin-top: 4%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    text-align: center;
}

.img-thumbnail{
    width: 22%;
    border: 3px solid white;
}


.UbicacionBack{
    height: 730px;
    width: 100%;
    background-image: url(../images/fondoatras15.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ubictatto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    gap: 28px;
}
.ubictatto h1{
    text-shadow: 1px 3px 80px #000;
    color: var(--colorPrincipal);
    font-size: 3.5em;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.mapa{
    box-shadow: 1px 3px 20px #000;
    width: 100%;
}


/*------------------  MEDIA QUERIS --------------------*/

@media (max-width:1000px){
    /*==========================        I  N  D  E  X       ========================*/
    .ArtistasIndex{grid-template-columns: 1fr}
    .ParrafArtistass {padding: 5px; text-align: justify; height: 100%; }
    .P-ContenedorServicios {flex-direction: column;justify-content: flex-start; gap: 25px;}
    .TitileServicios {height: 183px;}
    .TattoServicios {margin-left: 0;}
    .pircingsServicios {margin-right: 0%}
    .P-Ubicacion {padding: 35px; justify-content: space-evenly;text-align: center;flex-direction: column-reverse}
    .P-Ubicacion h1{padding: 25px 0 0;}

    .ContainTatuadores{grid-template-columns: 1fr;}
    .cardTatuadores {width: 500px; transition: 1s;}
}

@media (max-width:600px){
    /*==========================        I  N  D  E  X       ========================*/
    .ArtistasIndex{grid-template-columns: 1fr; padding: 55px 0;}
    .ArtistasIndex img {width: 350px; height: 400px;}
    .ParrafArtistass {padding: 5px; text-align: justify; height: 100%; }
    .pircingsServicios {margin-right: 0%;}
    .TattoServicios {margin-right: 0;}

    .ContainTatuadores{grid-template-columns: 1fr;}
    .cardTatuadores {width: 386px;}
}